html {
    scroll-behavior: smooth;
    scroll-padding-top: 140px;
}
*{
    text-decoration: none;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;

    /* text-transform: capitalize; */
    transition:all .2s linear;
    font-family: "Inter", sans-serif;
   
}
body{
    margin-top: 140px;
}
/* Overall Header Starts */
.top_header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    display: flex;
    background-color: #880085 !important;
    padding: 10px 4%;
    /* justify-content: right; */
    justify-content:space-between;
}
.bottom_header{
    position: fixed;
    z-index: 5;
    top: 70px;
    left: 0px;
    right: 0px;
    display: flex;
    background-color: azure !important;
    padding: 9px 4%; 
    justify-content:space-between;
    align-content: center;
    font-size: 20px;
    align-items: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
.mail{
    display: flex;
    color:white ;
    align-items: center;
    font-size: 20px;
    gap: 10px;
}
.mail:hover {
    color: white ; /* Ensures it doesn't change color */
    opacity: 0.5;
}
.callicon{
    display: flex;
}
#callicon,#emergencyicon{
    display: flex;
    align-items: center;
    color:white ;
    gap:10px;
    font-size: 20px;
    padding: 10px;
}
#callicon:hover, #emergencyicon:hover{
    opacity: 0.5;
}
/* Logo and Name */
.Logoname{
    margin:0;
    display: flex;
}
h4{
    color: black;
    margin-top: 17px;
    display: block;
}
/* Navigation */
nav{
    display: flex;
    gap: 20px;
}
nav a{
    color: #32cd32; 
    position: relative;
    display: inline-block;
}
nav a:hover{
    color: #00703c;
}
nav a::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: #00703c;
    transition: 0.8s;
}
nav a:hover::after{
    width: 100%;
}

/* Login and Appoinment */
.btn{
    border-radius: 50px;
    font-size: 16px;
    padding: 15px;
    background-color: #138808 ;
    cursor: pointer;
    color: white;
}
.btn:hover{
    background-color: #fcc200;
}
.Right_corner{
    margin: 0;
    display: flex;
    gap:15px;
}
.login{
    border-radius: 50px;
    font-size: 16px;
    padding: 15px;
    background-color: #0000ff ;
    cursor: pointer;
    color: white;
}
.login:hover{
    background-color: #fcc200;
}
/* Overall Header Ends */
